<% layout('layouts/boilerplate')%>
    <%- include('../partials/fixedSocials')%>
        <section class="brand-hero row">
            <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="animate-banner">
                <picture class="zoom">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                    class="d-block w-100" alt="building picture" style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div> -->
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                    class="d-block w-100" alt="building picture" style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div> -->
                            </div>
                        </div>
                    </div>
                </picture>
            </div>
            <div class="page-title align-items-start">
                <div class="container">
                    <div class="banner-content-inner">
                        <h1 style="font-size: 3em;">News And Events<a href="/news-events"><i class="fa-solid fa-arrow-left"
                                    style="color: #eabd57;"></i>
                                Back</a></h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fuild">
            <div class="row">
                <section class="inner-entry ">
                    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="mainTitle">
                            <p class="title-branding mb-2"><img class="img-fluid"
                                    src="/assests/SISTransparentLogoWhite.png"></p>
                            <!-- <h2>News And Events</h2> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="page-content">
            <section class="profile-section">
                <div class="container-fuild">
                    <div class="row">
                        <div class="col-md-5 col-12 order-md-1">
                            <div class="profile-picture">
                                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade"
                                    data-bs-ride="carousel" data-bs-pause="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="4000">
                                            <% if(news.images.length){ %>
                                            <img src="<%= news.images[0].url %>" class="d-block w-100" alt="event photo"
                                                style="width: 100%;height: 100%;">
                                                <% }else{ %>
                                                    <img src="https://res.cloudinary.com/dlpq5gl1a/image/upload/v1688312952/No_image_Found_ioxitj.png" class="d-block w-100" alt="event photo"
                                                    style="width: 100%;height: 100%;">
                                                    <% } %>
                                        </div>
                                        <% if(news.images.length>0) {%>
                                            <% for(let j=1;j<news.images.length;j++) {%>
                                                <div class="carousel-item">
                                                    
                                                    <img src="<%= news.images[j].url %>" class="d-block w-100"
                                                        alt="event photo" style="width: 100%;height: 100%;">


                                                    <!-- <div class=" carousel-caption d-none d-md-block">
                                            <h5>First slide label</h5>
                                            <p>Some representative placeholder content for the first slide.</p>
                                        </div> -->
                                                    <!-- <h3>Mr. Narender Sindhu <small>Founder & Director of Scottish International
                                                    School</small></h3> -->
                                                </div>
                                                <% } %>
                                                    <% } %>
                                                        <!-- <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assests/IMG_1919.jpeg" class="d-block w-100" alt="..." ">
                                         <div class=" carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div> 
                                    <h3>Mr. Narender Sindhu <small>Founder of Scottish International School</small></h3>
                                </div> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7 col-12 order-md-2">
                            <div class="profile-content newsDetails style-section-3 pt-0">
                                <!-- <div class="inner-section-title">
                                <h2>MS. OLIPHANT</h2>
                                <p>Founder of Welham Boys' School</p>
                            </div> -->
                                <div class="text">
                                    <div class="content-text ImgNotFound">
                                        <h3 class="title-medium"><small>News</small><%= news.title %> <b class="date"><i
                                                    class="fa-regular fa-clock fa-fade"></i>
                                                <%= news.date %> <%= news.month %> <%= news.year %></b></h3>

                                        <div class="text readMoreText">
                                            <p></p>
                                            
                                            <div><%=news.paragraph1  %>.</div>
                                            <div>&nbsp;</div>
                                            <% if(news.paragraph2!=''){ %>
                                                <div><%=news.paragraph2  %>.</div>
                                                <div>&nbsp;</div>
                                            <% } %>
                                            <% if(news.paragraph3!=''){ %>
                                                <div><%=news.paragraph3  %>.</div>
                                                <div>&nbsp;</div>
                                            <% } %>
                                            <% if(news.paragraph4!=''){ %>
                                                <div><%=news.paragraph4  %>.&nbsp;</div>
                                                <div>&nbsp;</div>
                                            <% } %>
                                            <% if(news.paragraph5!=''){ %>
                                                <div><%=news.paragraph5  %>.</div>
                                            <% } %>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if(currentUser) {%>
                            <% if(currentUser.role.includes('articlesEditor')) {%>
                                <a class="btn btn-outline-info" href="/news-events/<%=news._id%>/edit">Edit</a>
                                <% } %>
                                <% } %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container-fuild">
            <section class="row" style='margin-bottom: 160px;'>
                <%- include('../partials/footerBottom')%>
            </section>
        </div>

        <link rel="stylesheet" href="/stylesheets/contact-us.css">
        <link rel="stylesheet" href="/stylesheets/eventPage.css">
        <link rel="stylesheet" href="/stylesheets/page-title.css">
        <link rel="stylesheet" href="/stylesheets/navbottom.css">